<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Joshua Deans">
    <meta name="description" content="Actor Grapher director actress celebrity">
    <title>Actor Grapher - <%= actorName %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto|Raleway" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
</head>
<body class="bg-light">
<div class="container-fluid">
    <div class="container-fluid jumbotron mx-auto bg-dark text-light text-center py-4 mb-1">
        <h2 style="display:inline"><%= actorName %></h2>
        <a class="btn btn-warning float-right" href="/">Go Back</a>
    </div>
    <div class="chart-container container-fluid" style="position: relative;">
        <canvas id="myChart" height="480" width="100"></canvas>
    </div>
</div>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var scatterChart = new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: [{
                data: [
                    <% for (var i = 0 ; i < dataArr.length; i++) {%>
                    {
                        x: <%= JSON.stringify(dataArr[i]["x"]) %>,
                        y: <%= JSON.stringify(dataArr[i]["y"]) %>,
                        link: <%- JSON.stringify(dataArr[i]["link"]) %>,
                        title: <%- JSON.stringify(dataArr[i]["title"]) %>,
                        year: <%- JSON.stringify(dataArr[i]["year"]) %>
                    },
                    <% } %>
                ],
                backgroundColor: 'rgb(0, 153, 255)',
                borderColor: 'rgb(0, 123, 225)',
                radius: '4',
                hoverRadius: '6',
                hitRadius: '1'
            }, {
                // Changes this dataset to become a line
                type: 'line',
                showLine: true,
                pointRadius: 0,
                fill: false,
                borderColor: 'rgb(225, 123, 123)',
                data:
                    [
                    <% for (var j = 0 ; j < linearData.length; j++) {%>
                    {
                        x: <%= JSON.stringify(linearData[j][0]) %>,
                        y: <%= JSON.stringify(linearData[j][1]) %>,
                    },
                    <% } %>

                ]
            }]
        },
        options: {
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 15,
                    bottom: 0
                }
            },
            tooltips: {
                mode: 'nearest',
                xPadding: 6,
                displayColors: false,
                filter: function(currentValue, index, arr){
                    return currentValue.datasetIndex === 0;
                },
                callbacks: {
                    beforeLabel: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += '';
                        }
                        label += data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].title;
                        return label;
                    },
                    label: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += ' ';
                        }
                        label += tooltipItem.yLabel;
                        label += '%';
                        return label;
                    },
                    afterLabel: function(tooltipItem, data) {
                        var label = data.datasets[tooltipItem.datasetIndex].label || '';

                        if (label) {
                            label += '';
                        }
                        label += data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].year;
                        return label;
                    }
                }
            },
            maintainAspectRatio: false,
            legend: {
                display: false
            },
            elements: {
                line: {
                    tension: 0
                } // disables bezier curves
            },
            scales: {
                xAxes: [{
                    type: 'linear',
                    position: 'bottom',
                    ticks: {
                        min: 1,
                        max: <%= dataArr.length %>
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Number of Movies"
                    }
                }],
                yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Percent (%)"
                    }
                }]
            },
            'onClick': function(event, item) {
                console.log ('legend onClick', event);
                if(item.length) {
                    console.log('legd item', item[0]);
                    console.log('legd index', item[0]._index);
                    console.log('legd dsindex', item[0]._datasetIndex);
                    var dataArray = item[0]._chart.tooltip._data.datasets[0].data;
                    var link = dataArray[item[0]._index].link;
                    window.open(link);
                }
            }
        }
    });
</script>
</body>
</html>